<h1>Welcome to Yelpdemo!</h1>
<h2>This is one of the sample applications for <%= link_to "BaseRails", "http://www.baserails.com" %>, a platform that teaches people to build awesome custom websites with Ruby N Rails Programming. Sign Up and start reading today!</h2>

